@tailwind base;

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  font-family: Roboto Slab, serif;
}

ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}

ol {
  list-style-type: decimal;
  padding-left: theme('padding.4');
}

li {
  padding-left: theme('padding.3');
}

.content > *,
.content p {
  @apply mb-3;
}

.content > h1 {
  @apply text-4xl;
}

.content > h2 {
  @apply text-3xl;
}

.content > h3 {
  @apply text-2xl;
}

.content > h4 {
  @apply text-xl;
}

.section {
  @apply px-3;
}

.textbox {
    @apply border-gray-500 border py-1 px-2;
}

.button {
    @apply mx-4 border px-2 py-1 border-blue-400 rounded bg-blue-100;
}

@tailwind components;

@tailwind utilities;